.firebase/
firebase-debug.log
firestore-debug.log
storage-debug.log
ui-debug.log
emulator-data/

functions/node_modules/
functions/lib/
functions/coverage/
functions/.env
functions/.env.*
!functions/.env.example
functions/.runtimeconfig.json

**/GoogleService-Info.plist
**/*-firebase-adminsdk-*.json
**/service-account*.json
**/*.pem
**/*.p12
