#include "Common.xcconfig"

AVEN_BUNDLE_IDENTIFIER = com.example.aven.staging
AVEN_DISPLAY_NAME = Aven Staging
AVEN_ENVIRONMENT = staging
AVEN_FIREBASE_ENVIRONMENT = staging
AVEN_FIREBASE_PROJECT_ID =
AVEN_URL_SCHEME = aven-staging
EXCLUDED_SOURCE_FILE_NAMES = GoogleService-Info.plist

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = YES
ENABLE_TESTABILITY = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = AVEN_STAGING
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
VALIDATE_PRODUCT = YES

#include? "Secrets.xcconfig"
